<aside id="menu">
	<ul>		
		<li>
			<a href="{% url 'home' %}" title="">
				<i class="fa fa-home"></i> Home
			</a>
		</li>
		<li>
			<a href="{% url 'generador' %}" title="">
				<i class="fa fa-cogs"></i> Generador
			</a>
		</li>
		<li>
			<a href="{% url 'horario' %}" title="">
				<i class="fa fa-calendar"></i> Horario
			</a>
		</li>
		<li>
			<a href="{% url 'perfil' %}" title="">
				<i class="fa fa-user"></i> Perfil
			</a>
		</li>
		<li>
			<a href="{% url 'conocidos' %}" title="">
				<i class="fa fa-users"></i> Conocidos
			</a>
		</li>
		<li>
			<a href="{% url 'record' %}" title="">
				<i class="fa fa-history"></i> Record Academico
			</a>
		</li>
	</ul>
</aside>
