{% extends "base.html" %}
{% load static from staticfiles %}

{% block stylesheets %}
	<link rel="stylesheet" href="{% static "css/record.css" %}">
{% endblock %}

{% block section %}
{% include "menu.html" %}
	<section class="card">
		<section class="record">
		{% for semestre in data %}
			<article class="semestre">
			<div class="col-md-1"></div>
			<div class="col-md-2">Semestre:  </div>
			<div class="row">
				{% for mat in semestre %}
					<div class="col-md-1">{{ mat.sigla }} <br>( NOTA )</div>
				{% endfor %}
			</div>
			<div class="col-md-2"></div>
			<br>
			</article>
		{% endfor %}
		</section>
	</section>
{% endblock section %}