{% extends "base.html" %}
{% load static from staticfiles %}

{% block stylesheets %}
	<link rel="stylesheet" href="{% static "css/record.css" %}">
{% endblock %}

{% block scripts %}
	<script src="{% static "js/record.js" %}"></script>
{% endblock %}

{% block section %}
{% include "menu.html" %}
	<section class="card">
		<section class="record">
		{% for semestre in data %}
			<article class="semestre">
				{% for mat in semestre %}
					 
					{% for record in mat.nota %}
					<div class="mat-a" data-sigla="{{ mat.sigla }}">{{ mat.sigla }}
					({{record.nota}})
					</div>
					{% empty %}
					<div class="mat-na" data-sigla="{{ mat.sigla }}">{{ mat.sigla }}
					(0)
					</div>
					{% endfor %}
					
				{% endfor %}
			</article>
		{% endfor %}
		</section>
	</section>
{% endblock section %}