.record{
	background: #757575;
	max-width: 550px;
	margin: 0 auto;
	text-align: left;
}
.semestre{
}
.semestre div{
	background: #42A5F5;
	display: inline-block;
	font-size: 16px;
	padding: .25em 0;
	text-align: center;
	width: 72px;
}
.semestre div:hover{
	background: #64B5F6;
}