{% extends "base.html" %}
{% load static from staticfiles %}

{% block stylesheets %}
	<link rel="stylesheet" href="{% static "css/timeline.css" %}">
{% endblock %}

{% block section %}
{% include "menu.html" %}

<section class="card">
	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="2000">
	  <!-- Indicators -->
	  <ol class="carousel-indicators">
	    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
	    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
	    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
	  </ol>
	 
	  <!-- Wrapper for slides -->
	  <div class="carousel-inner">
	    <div class="item active">
	      <img src="{% static "img/image1.png" %}" alt="...">
	      <div class="carousel-caption">
	          <div class="pie">
	          	<h3>Basta de problemas con el SIA.</h3>
	          </div>
	      </div>
	    </div>
	    <div class="item">
	      <img src="{% static "img/image3.png" %}" alt="...">
	      <div class="carousel-caption">
	          <div class="pie">
	          	<h3>No podemos tolerar sistemas arcaicos.</h3>
	          </div>
	      </div>
	    </div>
	    <div class="item">
	      <img src="{% static "img/image2.png" %}" alt="...">
	      <div class="carousel-caption">
	          <div class="pie">
	          	<h3>Y al final hacer filas para que nos traten mal.</h3>
	          </div>
	      </div>
	    </div>
	  </div>
	 
	  <!-- Controls -->
	  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
	    <span class="glyphicon glyphicon-chevron-left"></span>
	  </a>
	  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
	    <span class="glyphicon glyphicon-chevron-right"></span>
	  </a>
	</div> <!-- Carousel -->	
	<h3>FUCKSIA</h3>

	<p>
		Si estas cansado de hacer o armar tus horarios cada semestre, ya que el SIA de la carrera de Informática no es nada práctico, puedes optar por usar #fucksia app para facilitarte esa tediosa actividad. 
	</p>
	<article id="comentarios">
		<div id="crear-comentario">
			{% csrf_token %}
			<input class="form-control" type="text" placeholder="Opina algo...">
			<div class="btn-group">
				<button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
					Clasificar y publicar
				</button>
				<ul class="dropdown-menu" role="menu">
				{% for mat in materias %}
					<li><a href="#">{{ mat }}</a></li>
				{% endfor %}
				</ul>
			</div>
		</div>
		<div class="container">
			<div id="ul-comentarios">
				{% for comentario in comentarios %}
				<div class="comm">
					<div class="header-comm">
						<div class="av">
							<a href="{{ comentario.estudiante.social_url }}">
							<img title="{{ comentario.estudiante.name }}" src="{{ comentario.estudiante.avatar }}" alt="avatar">
							</a>
						</div>
						<div class="desc">
							<h4>{{ comentario.estudiante.name }}</h4>
							<span title="{{ comentario.fecha }}">{{ comentario.fecha|date }}</span>
						</div>
						<span class="sigla-comm">{{ comentario.materia.sigla }}</span>
					</div>
					<div class="text-comm">{{ comentario.titulo }}</div>
				</div>
				{% empty %}
					<h4>Se el primero en opinar algo :)</h4>
				{% endfor %}
			</div>
		</div>
	</article>
	<article id="respuestas"></article>
</section>
{% endblock section %}
